@media (max-width: 1280px) { 
  .topic-main-buttons .stats {
    display: none;
  }
}
@media (max-width: 1280px) { 
  [component="topic/watch"] .visible-lg-inline, [component="topic/mark-unread"] .visible-lg-inline {
    display: none !important;
  }
  .stats-attendance {
    display: inline-block;
  }
}


[component="topic/attendanceButtons"][data-invisible="true"] {
  display: none !important;
}




@-webkit-keyframes fade-in-maybe {
  100% { opacity: 0.35; }
  0%   { opacity: 0; }
  100% { opacity: 0.35; }
}

.post-bar {
    margin-top: 35px;
}

.post-bar .clearfix .tags {
  display: none;
}

[component="topic/attendance"] .main-table tr .secondColumn .attendance_maybe {
 -webkit-animation-name: fade-in-maybe;
 -webkit-animation-duration: 0.3s;
 -webkit-animation-iteration-count: 1;
 -webkit-animation-timing-function: ease-in-out;
 -webkit-animation-delay: 0s;
}

.stats-attendance i {
  line-height: 40px;
}

.attendance-control-icon, .attendance-control-text {
  color: #fff;  
}

/* ATTENDING UNKNOWN */

.btn[data-value="unknown"], .btn[data-value=""] {
    background-color: #4a5559;
    border-color: #3e484b !important;
  color: #333 !important;
    -webkit-transition: background-color 150ms ease-in-out;
  -moz-transition: background-color 150ms ease-in-out;
  -o-transition: background-color 150ms ease-in-out;
  -ms-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
}

.btn[data-value="unknown"]:hover, .btn[data-value=""]:hover {
  background-color: #4D914D;
  border-color: #339933 !important;
  -webkit-transition: background-color 150ms ease-in-out;
  -moz-transition: background-color 150ms ease-in-out;
  -o-transition: background-color 150ms ease-in-out;
  -ms-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
   -webkit-transition: border-color 100ms ease-in-out;
  -moz-transition: border-color 100ms ease-in-out;
  -o-transition: border-color 100ms ease-in-out;
  -ms-transition: border-color 100ms ease-in-out;
  transition: border-color 100ms ease-in-out;
}

.btn[data-value="unknown"] .attendance-control-icon:after ,.btn[data-value=""] .attendance-control-icon:after {
  font-family: "FontAwesome";
  content: "\f10c";
  color: #fff !important;
}

.btn[data-value="unknown"] .attendance-control-text:after, .btn[data-value=""] .attendance-control-text:after{
  color: #fff !important;
  content: "\00a0 Zusagen";
}




.btn[data-value="unknown"]:hover .attendance-control-icon:after ,.btn[data-value=""]:hover .attendance-control-icon:after {
  font-family: "FontAwesome";
  content: "\f058";
  color: #fff !important;
}

.btn[data-value="unknown"]:hover .attendance-control-text:after, .btn[data-value=""]:hover .attendance-control-text:after{
  color: #fff !important;
  content: "\00a0 Zusagen";
}


/* SURELY ATTENDING*/

.btn[data-value="yes"] {
  background-color: #6a6 !important;
  border-color: #339933 !important;
  color: #fff !important;
  min-width: 67px;
   -webkit-transition: background-color 150ms ease-in-out;
  -moz-transition: background-color 150ms ease-in-out;
  -o-transition: background-color 150ms ease-in-out;
  -ms-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
}

.btn[data-value="yes"]:hover {
  background-color: #c91106 !important;
  border-color: #c91106 !important;
   -webkit-transition: background-color 150ms ease-in-out;
  -moz-transition: background-color 150ms ease-in-out;
  -o-transition: background-color 150ms ease-in-out;
  -ms-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
}

.btn[data-value="yes"] .attendance-control-icon:after {
  font-family: "FontAwesome";
  content: "\f058";
}

.btn[data-value="yes"] .attendance-control-text:after {
  content: "\00a0 Zusage";
}

.btn[data-value="yes"]:hover .attendance-control-icon:after {
  font-family: "FontAwesome";
  content: "\f057";
}

.btn[data-value="yes"]:hover .attendance-control-text:after {
  content: "\00a0 Absagen";
}

/* MAYBE ATTENDING*/

.btn[data-value="maybe"] {
  background-color: #d18d1f !important;
  border-color: #bb7e1c !important;
  color: #fff !important;
  min-width: 67px;
   -webkit-transition: background-color 150ms ease-in-out;
  -moz-transition: background-color 150ms ease-in-out;
  -o-transition: background-color 150ms ease-in-out;
  -ms-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
   -webkit-transition: border-color 100ms ease-in-out;
  -moz-transition: border-color 100ms ease-in-out;
  -o-transition: border-color 100ms ease-in-out;
  -ms-transition: border-color 100ms ease-in-out;
  transition: border-color 100ms ease-in-out;
}

.btn[data-value="maybe"]:hover {
  background-color: #a56f18 !important;
  border-color: #a56f18 !important;
   -webkit-transition: background-color 150ms ease-in-out;
  -moz-transition: background-color 150ms ease-in-out;
  -o-transition: background-color 150ms ease-in-out;
  -ms-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
   -webkit-transition: border-color 100ms ease-in-out;
  -moz-transition: border-color 100ms ease-in-out;
  -o-transition: border-color 100ms ease-in-out;
  -ms-transition: border-color 100ms ease-in-out;
  transition: border-color 100ms ease-in-out;
}

.btn[data-value="maybe"] .attendance-control-icon:after {
  font-family: "FontAwesome";
  content: "\f059";
}

.btn[data-value="maybe"] .attendance-control-text:after {
  content: "\00a0 Unsicher";
}

/* NOT ATTENDING */

.btn[data-value="no"] {
  background-color: #c91106 !important;
  border-color: #c91106 !important;
  color: #fff !important;
  min-width: 67px;
   -webkit-transition: background-color 150ms ease-in-out;
  -moz-transition: background-color 150ms ease-in-out;
  -o-transition: background-color 150ms ease-in-out;
  -ms-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
   -webkit-transition: border-color 100ms ease-in-out;
  -moz-transition: border-color 100ms ease-in-out;
  -o-transition: border-color 100ms ease-in-out;
  -ms-transition: border-color 100ms ease-in-out;
  transition: border-color 100ms ease-in-out;
}

.btn[data-value="no"]:hover {
  background-color: #4D914D !important;
  border-color: #339933 !important;
  -webkit-transition: background-color 150ms ease-in-out;
  -moz-transition: background-color 150ms ease-in-out;
  -o-transition: background-color 150ms ease-in-out;
  -ms-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
   -webkit-transition: border-color 100ms ease-in-out;
  -moz-transition: border-color 100ms ease-in-out;
  -o-transition: border-color 100ms ease-in-out;
  -ms-transition: border-color 100ms ease-in-out;
  transition: border-color 100ms ease-in-out;
}

.btn[data-value="no"] .attendance-control-icon:after {
  font-family: "FontAwesome";
  content: "\f057";
}

.btn[data-value="no"] .attendance-control-text:after {
  content: "\00a0 Absage";
}

.btn[data-value="no"]:hover .attendance-control-icon:after {
  font-family: "FontAwesome";
  content: "\f058";
}

.btn[data-value="no"]:hover .attendance-control-text:after {
  content: "\00a0 Zusagen";
}




.attendance_btn_default {
  background-color: #fff;
  border-color: #333;
  color: #666;
}

[component="topic/attendance"] .attendance_pill_yes {
  color: #666 !important;
  padding: 5px 0px 5px 5px;
  font-size: 20px;
  font-weight: normal;
}

[component="topic/attendance"] .main-table tr .secondColumn .attendance_maybe {
  opacity: 0.35;
}

[component="topic/attendance"] .attendance_pill_maybe {
  color: #999 !important;
  padding: 5px 5px 5px 0px;
  font-size: 14px;
  font-weight: normal;
}

[component="topic/attendance"] .attendance_pill_maybe[data-number="0"] {
  display: none;
}

[component="topic/attendance"] .attendance_pill_no {
  color: #666 !important;
  padding: 5px;
  font-size: 20px;
  font-weight: normal;
}

[component="topic/attendance"] div {
    text-align: center;
}

[component="topic/attendance"] div button {
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

[component="topic/attendance"] .attendance-current {
    font-weight: normal;
}

[component="topic/attendance"] .main-table {
    margin: 10px 0px 10px 0px;
    width: 100%;
}

[component="topic/attendance"] .main-table tr {
    line-height: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 1px solid #d6d6d6;
    border-bottom: none;
}

[component="topic/attendance"] .main-table td {
    border: none;
}


[component="topic/attendance"] .main-table tr .firstColumn {
    width: 100px;
}

[component="topic/attendance"] .main-table tr .secondColumn ul {
    padding: 0;
    list-style: none;
    width: calc(100% + 25px);
}

.left_mask , .right_mask {
    left: 85px;
    width: 35px;
    height: 40px;
    /*background-color: #ff0000;*/
    position: absolute;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,f9f9f9+100&1+75,0+100 */
    background: -moz-linear-gradient(left,  rgba(249,249,249,1) 0%, rgba(249,249,249,1) 75%, rgba(249,249,249,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(249,249,249,1) 0%,rgba(249,249,249,1) 75%,rgba(249,249,249,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(249,249,249,1) 0%,rgba(249,249,249,1) 75%,rgba(249,249,249,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#00f9f9f9',GradientType=1 ); /* IE6-9 */


}

.right_mask {
    left: unset;
    width:35px;
    right: -10px;
    z-index: 1;
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,f9f9f9+100&0+0,1+25 */
    background: -moz-linear-gradient(left,  rgba(249,249,249,0) 0%, rgba(249,249,249,1) 25%, rgba(249,249,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(249,249,249,0) 0%,rgba(249,249,249,1) 25%,rgba(249,249,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(249,249,249,0) 0%,rgba(249,249,249,1) 25%,rgba(249,249,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f9f9f9', endColorstr='#f9f9f9',GradientType=1 ); /* IE6-9 */

}

[component="topic/attendance"] .main-table .secondColumn li {
    display: inline-block;
    padding: 0 2px;
}

[component="topic/attendance"] .main-table .avatar {
    width: 32px;
    height: 32px;
    line-height: 29px;
}

[component="topic/attendance"] .main-table tr .thirdColumn {
    width: 60px;
}

[component="topic/attendance"] .main-table tr .thirdColumn a {
    cursor: pointer;
}

[component="topic/attendance"] .modal-body {
    overflow-y: scroll;
    max-height: 85vh;
}



[component="topic/attendance"] {
    background-color: #f9f9f9;
    height: 100%;
    display: block;
    margin: -10px;
    padding: 20px;
    margin-top: -21px;
    padding-bottom: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}


@media (max-width: 600px) { 

  /* remove space intensive first column */
  [component="topic/attendance"] .main-table tr {
     display: block;
  }

  /* remove space intensive first column */
  [component="topic/attendance"] .main-table tr .firstColumn {
    display: block;
  }

[component="topic/mark-unread"] {
    display: none;
  }
  
  [component="topic/watch"] {
    display: none;
  }

}

@media (max-width: 480px) { 

  


  /* REPLY BUTTON */

  [component="topic/reply"].btn {
    max-width:50px;
    color: transparent; 
    
  }

  [component="topic/reply"].btn:before {
    font-family: "FontAwesome";
    content:"\f112";
    color: #fff;
  }

  [component="thread/sort"] {
    display: none;
  }

  [component="topic/mark-unread"] {
    display: none;
  }

   [component="topic/watch"] {
    display: none;
  }


  /* ATTENDING UNKNOWN */

  .btn[data-value="unknown"], .btn[data-value=""] {
    min-width: 50px; 
  }


  .btn[data-value="unknown"] .attendance-control-icon:after ,.btn[data-value=""] .attendance-control-icon:after {
    font-family: "FontAwesome";
    content: "\f10c";
    color: #fff;
  }

  .btn[data-value="unknown"] .attendance-control-text:after, .btn[data-value=""] .attendance-control-text:after{
    color: #fff;
    content: "";
  }




  .btn[data-value="unknown"]:hover .attendance-control-icon:after ,.btn[data-value=""]:hover .attendance-control-icon:after {
    font-family: "FontAwesome";
    content: "\f058";
    color: #fff !important;
  }

  .btn[data-value="unknown"]:hover .attendance-control-text:after, .btn[data-value=""]:hover .attendance-control-text:after{
    color: #fff !important;
    content: "";
  }


  /* SURELY ATTENDING*/

  .btn[data-value="yes"] {  
    min-width: 50px; 
  }

  

  .btn[data-value="yes"] .attendance-control-icon:after {
    font-family: "FontAwesome";
    content: "\f058";
  }

  .btn[data-value="yes"] .attendance-control-text:after {
    content: "";
  }

  .btn[data-value="yes"]:hover .attendance-control-icon:after {
    font-family: "FontAwesome";
    content: "\f057";
  }

  .btn[data-value="yes"]:hover .attendance-control-text:after {
    content: "";
  }

  /* MAYBE ATTENDING*/

  .btn[data-value="maybe"] {
    min-width: 50px;
  }


  .btn[data-value="maybe"] .attendance-control-icon:after {
    font-family: "FontAwesome";
    content: "\f059";
  }

  .btn[data-value="maybe"] .attendance-control-text:after {
    content: "";
  }

  /* NOT ATTENDING */

  .btn[data-value="no"] {
    min-width: 50px;
  }

  .btn[data-value="no"] .attendance-control-icon:after {
    font-family: "FontAwesome";
    content: "\f057";
  }

  .btn[data-value="no"] .attendance-control-text:after {
    content: "";
  }

  .btn[data-value="no"]:hover .attendance-control-icon:after {
    font-family: "FontAwesome";
    content: "\f058";
  }

  .btn[data-value="no"]:hover .attendance-control-text:after {
    content: "";
  }
}

[component="topic/attendance"] .slotted-badge {
    position: absolute;
    left: 0;
    top: 6px;
    width: 32px;
    height: 32px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );
    border-radius: 100px;
    color: #fff;
    line-height: 50px;
    font-size: 10px;
    text-shadow: 0 -1px 3px rgba(0,0,0,0.6);
}


[component="topic/attendance"] .avatar-wrapper {
    position: relative;
    cursor:pointer;
    display: inline-block;
}

[data-relative-time="future"]  {
    border-left: 5px solid #96d11f;
}

[data-relative-time="past"]  {
    border-left: 5px solid #333;
}

.stats-votes.stats-attendance {
    display: inline-block;
}
