[component="topic/attendance"] {
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}

[component="topic/attendance"] .attendance-current {
    font-weight: normal;
}

.attendance-container ul {
    list-style: none;
}

.attendance-container li {
    display: inline;
}
