<div style="float:left; margin-left: 10px; margin-bottom:10px; text-transform: uppercase; color: #777; font-weight: 300; font-size: 12px;">Teilnehmer (BETA)</div>
<div class="showAttendanceDetails" style="float:right"><a onclick="showAttendanceDetails('yes');">Details</a></div>
<table class="main-table">
    <tr class="firstRow">
        <td class="firstColumn"><span class="attendance_pill_yes"><i class="fa fa-fw fa-check-circle"></i>{attendance.yes.length}</span><span class="attendance_pill_maybe">+ {attendance.maybe.length}</span>
        </td>
        <td class="secondColumn">
            <ul>
                <!-- BEGIN attendance.yes -->
                <li>
                    <a href="{config.relative_path}/user/{attendance.yes.userslug}">
                        <!-- IF attendance.yes.picture -->
                        <img class="user-img avatar avatar-md avatar-rounded attendance_yes" src="{attendance.yes.picture}"
                             title="{attendance.yes.username} – {attendance.yes.timestamp}">
                        <!-- ELSE -->
                        <div class="avatar avatar-md avatar-rounded"
                             style="background-color: {attendance.yes.icon:bgColor};">{attendance.yes.icon:text}
                        </div>
                        <!-- ENDIF attendance.yes.picture -->
                    </a>
                </li>
                <!-- END attendance.yes -->
                <li><span style="margin-left: 30px;"></span></li>
                <!-- BEGIN attendance.maybe -->
                <li>
                    <a href="{config.relative_path}/user/{attendance.maybe.userslug}">
                        <!-- IF attendance.maybe.picture -->
                        <img class="user-img avatar avatar-md avatar-rounded attendance_maybe" src="{attendance.maybe.picture}"
                             title="{attendance.maybe.username} – {attendance.maybe.timestamp}"/>
                        <!-- ELSE -->
                        <div class="avatar avatar-md avatar-rounded"
                             style="background-color: {attendance.maybe.icon:bgColor};">{attendance.maybe.icon:text}
                        </div>
                        <!-- ENDIF attendance.maybe.picture -->
                    </a>
                </li>
                <!-- END attendance.maybe -->
            </ul>
        </td>
        
    </tr>
    <tr class="secondRow">
        <td class="firstColumn"><i class="fa fa-fw fa-times-circle"></i>{attendance.no.length}
        </td>
        <td class="secondColumn">
            <ul>
                <!-- BEGIN attendance.no -->
                <li>
                    <a href="{config.relative_path}/user/{attendance.no.userslug}">
                        <!-- IF attendance.no.picture -->
                        <img class="user-img avatar avatar-md avatar-rounded attendance_no" src="{attendance.no.picture}"
                             title="{attendance.no.username} – {attendance.no.timestamp}">
                        <!-- ELSE -->
                        <div class="avatar avatar-md avatar-rounded"
                             style="background-color: {attendance.no.icon:bgColor};">{attendance.no.icon:text}
                        </div>
                        <!-- ENDIF attendance.no.picture -->
                    </a>
                </li>
                <!-- END attendance.no -->
            </ul>
        </td>
    </tr>
</table>

<div>
    <button class="attendance-control btn btn-<!-- IF yes -->primary<!-- ELSE -->default<!-- ENDIF yes -->"
            data-value="yes" data-probability="1" data-tid="{tid}">ZUSAGEN
    </button>
    <button class="attendance-control btn btn-<!-- IF maybe -->primary<!-- ELSE -->default<!-- ENDIF maybe -->"
            data-value="maybe" data-probability="0.5" data-tid="{tid}">VIELLEICHT
    </button>
    <button class="attendance-control btn btn-<!-- IF no -->primary<!-- ELSE -->default<!-- ENDIF no -->"
            data-value="no" data-probability="0" data-tid="{tid}">ABSAGEN
    </button>

</div>
<hr/>
<div class="modal-backdrop fade in" component="topic/attendance/backdrop"></div>
<div class="bootbox modal fade vote-modal in" component="topic/attendance/yes-details" abindex="-1" role="dialog"
     style="display: none; padding-right: 16px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onclick="hideAttendanceDetails('yes');" class="bootbox-close-button close"
                        data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title">Zusagen</h4>
            </div>
            <div class="modal-body">
                <table component="groups/members" class="table table-striped table-hover" data-nextstart="20">
                    <tbody>
                    <!-- BEGIN attendance.yes -->
                    <tr data-uid="{attendance.yes.uid}">
                        <td>
                            <a href="{config.relative_path}/user/{attendance.yes.userslug}">
                                <!-- IF attendance.yes.picture -->
                                <img class="user-img avatar avatar-sm avatar-rounded" src="{attendance.yes.picture}"
                                     title="{attendance.yes.username} – {attendance.yes.timestamp}">
                                <!-- ELSE -->
                                <div class="avatar avatar-sm avatar-rounded"
                                     style="background-color: {attendance.yes.icon:bgColor};">{attendance.yes.icon:text}
                                </div>
                                <!-- ENDIF attendance.yes.picture -->
                            </a>
                        </td>
                        <td class="member-name">
                            <a href="{config.relative_path}/user/{attendance.yes.userslug}">{attendance.yes.username}</a>
                            <div class="pull-right">
                                {attendance.yes.timestamp}
                            </div>
                        </td>
                    </tr>
                    <!-- END attendance.yes -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="bootbox modal fade vote-modal in" component="topic/attendance/maybe-details" abindex="-1" role="dialog"
     style="display: none; padding-right: 16px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onclick="hideAttendanceDetails('maybe');" class="bootbox-close-button close"
                        data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title">Vielleicht</h4>
            </div>
            <div class="modal-body">
                <table component="groups/members" class="table table-striped table-hover" data-nextstart="20">
                    <tbody>
                    <!-- BEGIN attendance.maybe -->
                    <tr data-uid="{attendance.maybe.uid}">
                        <td>
                            <a href="{config.relative_path}/user/{attendance.maybe.userslug}">
                                <!-- IF attendance.maybe.picture -->
                                <img class="user-img avatar avatar-sm avatar-rounded" src="{attendance.maybe.picture}"
                                     title="{attendance.maybe.username} – {attendance.maybe.timestamp}">
                                <!-- ELSE -->
                                <div class="avatar avatar-sm avatar-rounded"
                                     style="background-color: {attendance.maybe.icon:bgColor};">
                                    {attendance.maybe.icon:text}
                                </div>
                                <!-- ENDIF attendance.maybe.picture -->
                            </a>
                        </td>
                        <td class="member-name">
                            <a href="{config.relative_path}/user/{attendance.maybe.userslug}">{attendance.maybe.username}</a>
                            <div class="pull-right">
                                {attendance.maybe.timestamp}
                            </div>
                        </td>
                    </tr>
                    <!-- END attendance.maybe -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="bootbox modal fade vote-modal in" component="topic/attendance/no-details" abindex="-1" role="dialog"
     style="display: none; padding-right: 16px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" onclick="hideAttendanceDetails('no');" class="bootbox-close-button close"
                        data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 class="modal-title">Absagen</h4>
            </div>
            <div class="modal-body">
                <table component="groups/members" class="table table-striped table-hover" data-nextstart="20">
                    <tbody>
                    <!-- BEGIN attendance.no -->
                    <tr data-uid="{attendance.no.uid}">
                        <td>
                            <a href="{config.relative_path}/user/{attendance.no.userslug}">
                                <!-- IF attendance.no.picture -->
                                <img class="user-img avatar avatar-sm avatar-rounded" src="{attendance.no.picture}"
                                     title="{attendance.no.username} – {attendance.no.timestamp}">
                                <!-- ELSE -->
                                <div class="avatar avatar-sm avatar-rounded"
                                     style="background-color: {attendance.no.icon:bgColor};">{attendance.no.icon:text}
                                </div>
                                <!-- ENDIF attendance.no.picture -->
                            </a>
                        </td>
                        <td class="member-name">
                            <a href="{config.relative_path}/user/{attendance.no.userslug}">{attendance.no.username}</a>
                            <div class="pull-right">
                                {attendance.no.timestamp}
                            </div>
                        </td>
                    </tr>
                    <!-- END attendance.no -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
